@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px; 
}

/*--------------------- Heading*/


.heading{
    background-color: #d5d5d3;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    text-transform: uppercase;
    font-size: 25px;
}

.heading a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.location{
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}



#nav{
    background-color: #b8bab9;
    text-align: center;
    margin: 0;
    list-style-type: none;
    font-size: 20px; 
}

#nav li{
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    
}

#nav li:hover{
    background-color: #012935;
}

#nav li a{
   text-decoration: none;
   color: #fffffb;
   font-stretch: expanded;
}

#nav li i{
    margin-left: 10px;
}


/*--------------------------------------------------------------index.html*/

section{
    background-color: whitesmoke;
    width: 100%;
}

#container{
    height: 100%;
    background-color: #d5d5d3;
}

.centre-image{
    clear: left;
    background: url(../images/np_Young-woman-in-the-gym-working-out-with-a-kettlebell_25nPmb_free.jpg);
    background-size:cover;
    background-position: center;
    height: 900px;
}

.text-bloks{
    padding: 20px 50px 20px 50px;
    text-align: center;
    color: #877f7d;
}

.block-top{
   background-color: rgba(0, 0, 0, 0.85);
    display: inline-block;
    text-align: justify;
    margin-bottom: 25px;
    width: 60%;
}

.block-top h3{
    text-align: center;
    color: #bebd88;
    font-family: 'Roboto', sans-serif;
}

.block-top p{
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Itim', cursive;
}

.block-middle{
    background-color: rgba(0, 0, 0, 0.85);
    display: inline-block;
    text-align: justify;
    margin-bottom: 25px;
    width: 60%;
 }
 
 .block-middle ul{
     list-style: none;
     text-decoration: underline;
 }
 
 .block-middle ul li{
     text-decoration: underline;
     margin-left: -35px;
 }
 
 .block-middle h3{
     text-align: center;
     color: #bebd88;
     font-family: 'Roboto', sans-serif;
 }
 
 .block-middle p{
     margin-left: 20px;
     margin-right: 20px;
     font-family: 'Itim', cursive;
 }
 
 .block-bottom{
    background-color: rgba(0, 0, 0, 0.85);
    display: inline-block;
    text-align: justify;
    margin-bottom: 25px; 
    width: 60%;
 }
 
 .block-bottom h3{
     text-align: center;
     color: #bebd88;
     font-family: 'Roboto', sans-serif;
 }
 
 .block-bottom p{
     margin-left: 20px;
     margin-right: 20px;
     font-family: 'Itim', cursive;
 }
 
/*-----------------Gallery.html*/

#photo{
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
    background-color: #666666;
}

#photo img{
    height: 300px;
    width: 100%;
}


/*--------------------------signup.html*/


.form-section{
    clear: left;
    background: url(../images/np_Woman-fitness-coach-monitoring-runner-with-mask-on-treadmill-in-laboratory_0JoBd5_free.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
}


.signup-form{
    margin-top: 150px;
    color: #fff;
    background-color: rgba(60,60,60,0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
  }
  
  .signup-form h4{
    color: #fafafa;
    margin-bottom: 20px;
  }
  
  .text-input{
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
  }
  
  .text-input:hover{
    border-color: #f16c6b;
  }
  
  .join_button{
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
    font-family: 'Yusei Magic', sans-serif;
    text-transform: uppercase;
  }
  
  .join_button:hover{
    background-color: #fafafa;
    color: #f16c6b;
  }
  


/*--------------Lets go*/

#thumb{
    background: url(../images/np_Outdoor-shot-of-young-man-giving-high-five-to-a-woman_482870_free.jpg);
    background-size: cover;
    background-position: center;
    height: 800px;
}

.let{
    color:#fff;
    text-align: center;
    margin-top: 150px;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 20px 50px 20px 50px;
    width: 60%;
    border-radius: 30px;
    font-family: 'Yusei Magic', sans-serif;
}

.button{
    padding: 5px 20px 5px 20px;
    background-color: #f16c6b;
    font-family: 'Yusei Magic', sans-serif;
}

.button:hover{
    background-color: #fafafa;
    color: #f16c6b;
  }

 /*-----------------------------------Footer*/

 footer{
    background-color: #666666;
    color: #fffffb;
     position: absolute;
    left: 0;
     bottom: 0;
    height: auto;
     width: 100%;
}

.social-links{
    padding-bottom: 15px;
}

.social-links li a i{
    width: 62px;
    height: 62px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 29px;
    line-height: 38px;
    text-align: center;
    color: #012935;
    background: #b8bab9;
 }

.social-links li a i:hover{
    background-color: #3b5998;
}

/*----------Media*/

@media screen and (max-width: 1281px){
    #photo{
        column-count:4;
    }
    #container{
        height: auto;
    }
}

@media screen and (max-width: 1024px){
    #photo{
        column-count:2;
    }
    #container{
        height: 1000px;
    }
    .block-top{
        width: 100%;
    }
    .block-middle{
        width: 100%;
    }
    .block-bottom{
        width: 100%;
    }
   .form-section{
       height: 1000px;
   }
}

@media screen and (max-width: 800px){
    #photo{
        column-count: 2;
    }
    .block-top{
        width: 100%;
    }
    .block-middle{
        width: 100%;
    }
    .block-bottom{
        width: 100%;
    }
    #section{
        height: 100%;
    }
}

@media screen and (max-width: 540px){
    #photo{
        column-count: 2;
    }
    .block-top{
        width: 105%;
    }
    .block-middle{
        width: 105%;
    }
    .block-bottom{
        width: 105%;
    }
   #container{
       height: 1050px;
   }
}

@media screen and (max-width: 414px){
    #photo{
        column-count: 1;
    }
    #photo img {
        height: 50vh;
    }
    .block-top{
        width: 105%;
    }
    .block-middle{
        width: 105%;
    }
    .block-bottom{
        width: 105%;
    }
   #container{
       height: 1500px;
   }
}

@media screen and (max-width: 375px){
    #photo{
        column-count: 1;
    }
    #photo img {
        height: 50vh;
    }
    .block-top{
        width: 115%;
    }
    .block-middle{
        width: 115%;
    }
    .block-bottom{
        width: 115%;
    }
   #container{
       height: 1550px;
   }
}

@media screen and (max-width: 320px){
    #photo{
        column-count: 1;
    }
    #photo img {
        height: 50vh;
    }
    .block-top{
        width: 115%;
    }
    .block-middle{
        width: 115%;
    }
    .block-bottom{
        width: 115%;
    }
   #container{
       height: 2000px;
   }
}

@media screen and (max-width: 280px){
    #photo{
        column-count: 1;
    }
    #photo img {
        height: 50vh;
    }
    .block-top{
        width: 115%;
    }
    .block-middle{
        width: 115%;
    }
    .block-bottom{
        width: 115%;
    }
   #container{
       height: 2170px;
   }
}